.nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .nav a {
        color: #ddd;
        text-decoration: none;
        padding: 10px;
        border-radius: 6px;
    }

        .nav a:hover {
            background: rgba(194, 43, 43, 0.2);
            color: white;
        }
